body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    /* height: 4000px; */
}

/* prevent inertial scroll on mobile */
html, body {
    position: fixed;
}

/* section {
    position: fixed;
} */

canvas {
    vertical-align: bottom;
}